.content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.recent-news {
    flex-grow: 1;
    min-width: 300px;
    max-width: 700px;
    background-color: #F3F3F3;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
}

.recent-news-title {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}

.news-item {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.news-thumbnail {
    max-width: 120px;
    margin-right: 5px;

}

.news-item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.news-item-content-title {
    font-weight: 600;
    font-size: 14px;
}

.news-item-content-desc {
    font-weight: 400;
    font-size: 12px;
}


.news-item-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12px;
}

.side {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    height: 100px;
    position: sticky;
    top: 0;
}

.trend-keyword {
    display: flex;
    min-height: 200px;
    max-height: 300px;
    flex-direction: column;
    background-color: #F3F3F3;
    border-radius: 20px;
    padding: 20px 10px;
    margin-bottom: 20px;
    overflow: clip;
}

.trend-keyword-title {
    font-size: 18px;
    font-weight: 600;
}

.trend-keyword-content {
    display: flex;
    flex-wrap: wrap;

}

.trend-keyword-item {
    background-color: #7BD0FF;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    padding: 5px;
    margin: 5px;
}

.quiz {
    background-color: #F3F3F3;
    border-radius: 20px;
    padding: 20px 10px;
}

.quiz-title {
    font-size: 18px;
    font-weight: 600;
}

.quiz-desc {
    margin: 5px 0;
    font-size: 12px;
}

.quiz-button-box {
    display: flex;
}

.quiz-button-box button {
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding: 8px 0;
}

.button-true {
    background-color: #2F8FFF;
    opacity: 0.8;
    margin-right: 10px;
}

.button-false {
    background-color: #FF2828;
    opacity: 0.8;
}


